@import '../../index';

.header-container {
  background-color: $aplication-color;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
}

.header-logo {
  width: 44px;
  height: $space-2;
  top: 8px;
  left: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.header-form {
  flex: 1;
  display: flex;
  height: $space-2;
}

.header-input {
  padding: 7px 60px 9px 15px;
  border-radius: 2px;
  background-color: $layout-color;
  border: 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 75px);
  color: $color-content;
  font-size: 18px;
  width: 100%;
  margin: 0;
  outline: 0;
}

.header-button {
  background-image: none;
  height: $space-2;
  padding-top: 4px;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  width: 38px;
  border: 0 rgba(0, 0, 0, 0.2);
  background-color: $background-color;
  top: 8px;
  right: 1px;
  outline: 0;
}

.header-icon{
  width: 18px;
}
