@import '../../index';

.breadcrumbs {
  background-color: $background-color;
  padding: $space-1 160px $space-1 160px;
  display: flex;
}

.breadcrumbContainer {
  display: flex;
  margin-right: 14px;
  font-size: $text-5;
}