@import "../../index";

.result-product {
  display: flex;
  padding: $space-1;
}

.reuslt-image-container {
  padding-right: $space-1;
}

.result-image {
  width: 180px;
  cursor: pointer;
  border-radius: 4px;
}

.container-result {
  flex: 1;
}

.result-title {
  font: {
    size: 18px;
    weight: 300;
  }
  margin: 0px !important;
  padding-top: $space-2;
  color: $color-subtitle;
}

.content-result {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: $space-1;
  @media (max-width: $breakpoint-tablet) {
    display: block !important;
  }
}

.result-amount {
  font: {
    size: $text-3;
    weight: 500;
  }
  color: $color-title;
}

.result-city {
  font-size: $text-6;
  padding-right: 120px;
  color: $color-content;
}

.result-condition {
  margin-top: 10px;
}
